#jeu{
  display: table;
  margin: 0 auto;
}

#band{
  background-color: #1FCCA2;
  padding: 5px;
}

#bandeau {
 padding:0;
 list-style-type:none;
 display: table;
 margin: 0 auto;
 text-decoration-color: white;

 }
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
#bandeau li a {
 display:block;
 float:left;
 width:100px;
 font-size: 20px;
 color:#16588F;
 background-color:#1FCCA2;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
#bandeau li a:hover {
 background-color:#1F7DCC;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 }

 a.bouton{
   display:block;
   background-color:#1FCCA2;
   border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }

 a.bouton:hover{
   background-color:#1F7DCC;
   border-color:#696969 #DCDCDC #DCDCDC #696969;

 }



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1BB28D;
    color: white;
}

#grid {
    text-align: center;
    margin-top: 50px;
}



#message {
  font-size: 200%;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
  padding: 20px;
  height: 80px;
}

#message.hidden {
  display: none;
}

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

 input[type=submit], input[type=reset] {
  margin-left:5px;
  box-shadow:1px 1px 1px #D83F3D;
  cursor:pointer;
}

h1 {
  background-color: #3A7F6E;
  font-size: 100px;
}

#choix a img.displayed{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
