#bandeau {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
#bandeau li a {
 display:block;
 float:left;
 width:100px;
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
#bandeau li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 }

body {
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    text-align: center;
    margin-top: 50px;
}

#message {
    border: solid 1px blue;
    font-size: 200%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    padding: 20px;
    height: 80px;
    visibility: hidden;
}

#choix {
  margin-left: 120px;

}

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

 input[type=submit], input[type=reset] {
  margin-left:5px;
  box-shadow:1px 1px 1px #D83F3D;
  cursor:pointer;
}
