
body {
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    text-align: center;
    margin-top: 50px;
}

#message {
    border: solid 1px blue;
    font-size: 200%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    padding: 20px;
    height: 80px;
    visibility: hidden;
}

#choix {
  margin-left: 120px;

}

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

 input[type=submit], input[type=reset] {
  margin-left:5px;
  box-shadow:1px 1px 1px #D83F3D;
  cursor:pointer;
}
